Interaccion Voz LLM/scripts/logs/*
Interaccion Voz LLM/scripts/**/__pycache__/
Interaccion Voz LLM/scripts/**/*.pyc
**/__pycache__/
*.py[cod]
*_BACKUP_*.py
Interaccion Voz LLM/.venv/
Interaccion Voz LLM/scripts/recursos/capturas_locales/*.wav
Interaccion Voz LLM/externos/
Interaccion Voz LLM/scripts/recursos/modelos/*.bin
Interaccion Voz LLM/scripts/recursos/modelos/*.gguf
Interaccion Voz LLM/scripts/recursos/benchmark_stt/*.wav
Interaccion Voz LLM/scripts/recursos/benchmark_stt/**/*.wav
Interaccion Voz LLM/scripts/logs/*.json
